<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978230351336-0f2cdhrleg14c1hn3re8ucog2kajr6jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978230351336-0f2cdhrleg14c1hn3re8ucog2kajr6jh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>978230351336-lfauqidocr9svlp2vo49baoucs8bgo20.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCB68a54aMmlFV8R2_27xx7AsLafhIvrOk</string>
	<key>GCM_SENDER_ID</key>
	<string>978230351336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vegait.ObrokZaPorodicu</string>
	<key>PROJECT_ID</key>
	<string>obrok-za-porodicu</string>
	<key>STORAGE_BUCKET</key>
	<string>obrok-za-porodicu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978230351336:ios:c90039620e72ca5cc3805d</string>
</dict>
</plist>