$white: #fff;
$black: #000;
$red: #ef6852;
$orange: #ef8d56;
$lightOrange: #ffd9a6;
$redError: #ff003d;
$grey: #5a5a5a;
$bgLightGrey: #d7d7d7;
$background: #fafafa;
$lighetGrey: #848484;
$green: #98D3A9;
$greenHover: #7baf8a;
