@import "../../../constants/Colors.scss";

.content-wrapper {
  width: 100%;
}

.filter-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 16px;
  background: rgba(53, 96, 255, 0.02);
  border-radius: 4px 4px 0px 0px;

  & > div:not(:last-of-type) {
    margin-right: 20px;
  }
}

.search-button-wrapper {
  align-self: flex-start;
  width: 100px;
  margin-left: auto;
}
