.filter-item-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 0;

  & > div {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  & > :not(:last-child) {
    margin-right: 10px;
  }
}
